<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SoundMagic</title>
    <link rel="icon" href="/css/logo-no-background.png" type="image/x-icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <style>
            .cart-count {
        position: relative;
        display: inline-block;
    }

    .cart-count span {
        background-color: #abb56a; /* Set your desired background color */
        color: #ffffff; /* Set your desired text color */
        border-radius: 50%;
        padding:5px 5px;
        font-size: 14px; /* Set your default font size */
        position: absolute;
        top: -6px; /* Adjust vertical position */
        right: -12px; /* Adjust horizontal position */
        min-width: 20px; /* Set a minimum width */
        text-align: center;
    }
    </style>
</head>