<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verification</title>
    <!-- linking css file -->
    <link rel="stylesheet" href="/userCss/verifyOtp.css">
</head>
<body>
    <div class="container">
        <% if (locals.error) { %>
            <p style="color: red;"><%= error %></p>
        <% } %>
    <h2>OTP Verification</h2>
    <p>Enter the 6-digit OTP sent to your email.</p>
    <form action="/verifyOtp" method="post">
        <div class="otp-input">
            <input type="text" name="digit1" maxlength="1" required autofocus>
            <input type="text" name="digit2" maxlength="1" required>
            <input type="text" name="digit3" maxlength="1" required>
            <input type="text" name="digit4" maxlength="1" required>
            <input type="text" name="digit5" maxlength="1" required>
            <input type="text" name="digit6" maxlength="1" required>
        </div>
        <button type="submit">Verify</button>
    </form><br>
</div>



</body>
</html>