<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    .container {
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      padding: 20px;
      width: 300px;
      text-align: center;
    }

    h1 {
      color: #333;
    }

    input {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      box-sizing: border-box;
    }

    button {
      background-color: #4caf50;
      color: #fff;
      padding: 10px 15px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
    }

    button:hover {
      background-color: #45a049;
    }
  </style>
</head>
<body>

<div class="container">
  <h1>Reset Password</h1>
  <p>Enter your new password below.</p>
  
  <form action="/updatePassword" method="post" onsubmit=" return checkPassword()">
    <input type="password" id="password" name="newPassword" placeholder="New Password" required>
    <div style="color: red;" id="passwordError" class="error-message"></div>
    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm New Password" required>
    <p id="passwordMatchError" class="error-message" style="display: none; color: red;">Passwords do not match.</p>
    <button type="submit">Reset Password</button>
  </form>
</div>

<script>
  function checkPassword(){
    var passwordRegex = /^.{6,}$/;
    var password = document.getElementById('password').value;
    if (!passwordRegex.test(password)) {
        document.getElementById('passwordError').innerHTML = 'Password must contain 6 characters';
        document.getElementById('passwordError').style.display = 'block';
        return false;
    } else {
        document.getElementById('passwordError').style.display = 'none';
    }

    var confirmPassword = document.getElementById('confirmPassword').value;

    if (password !== confirmPassword) {
        document.getElementById('passwordMatchError').style.display = 'block';
        return false;
    } else {
        document.getElementById('passwordMatchError').style.display = 'none';
    }

    return true;
   
  }

</script>

</body>
</html>
