@media only screen and (max-width: 600px) {
    .container {
      padding: 10px;
    }

    table {
      font-size: 12px;
    }

    th,
    td {
      padding: 8px;
      
    }
  }
  body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f8f9fa;
      color: #495057;
  }

  header {
      background-color: #343a40;
      color: white;
      padding: 20px;
      text-align: center;
  }

  .container {
      max-width: 1200px;
      margin: 20px auto;
      padding: 20px;
      background-color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
  }

  .search-container {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
  }

  .search-input {
      flex: 1;
      padding: 10px;
      border: 1px solid #ced4da;
      border-radius: 5px;
      margin-right: 10px;
  }

  .search-button,
  .add-button {
      padding: 10px 15px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }

  .add-button {
      background-color: #28a745;
      margin-left: 10px;
  }

  table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
      overflow: hidden;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
  }

  th,
  td {
      border: 0.5px solid #ddd;
      padding: 14px;
      text-align: left;
  }

  th {
      background-color:rgb(76, 175, 80);
      color: white;
      /* text-transform: ; */
      font-size: 14px;
      letter-spacing: 1px;
  }

  tbody tr:hover {
      background-color: #f8f9fa;
  }

  .action-buttons {
      display: flex;
      gap: 5px;
  }

  .action-button {
      padding: 8px 15px;
      cursor: pointer;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
  }
  .unlist-button {
      padding: 8px 15px;
      cursor: pointer;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
  }