table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.action-button {
    padding: 8px;
    background-color: #008CBA;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-container {
    margin-bottom: 20px;
    margin-top: 50px;
    margin-left: 450px;;
}

.search-box {
    /* padding: 8px; */
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    height:40px;
}

.search-button {
    padding: 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}